.gambarnavbar{
	margin-right: 5px;
}

.jumbotron{
	padding-TOP: 7rem;
	background-color: #00b4e3;
	max-width: 100%;
}


#about{
	background: whitesmoke;
}

#iceage3d{
	background: #B8E6F2;
	
}

#iceage3d .col-md-4{
	margin: 10px 0px 10px;
}

#iceage3d .col-md-5{
	margin: 10px 0px 10px;
}

section{
	padding-top: 5rem;
	max-width: 100%;
	overflow: hidden;
}

.gallery-img{
	width: 100%;
}



/*Ice Age Section	*/
.iceage-box h4{
	color: skyblue;
	font-weight: bold;
}

.iceage-box a{
	background-color: skyblue;
}
.iceage-box{
	background-image: url("img/tilt/backgroundimagesnowball.png");
	background-color: skyblue;
	border-radius: 10px;
	height: 500px;
	position: relative;
	transform-style: preserve-3d;
	overflow: visible;
}

.iceage-box::before{
	content: 'ICE';
	position: absolute;
	color: black;
	font-size: 6em;
	font-weight: bold;
	font-style: italic;
	top: 30px;
	left: 50%;
	transform: translate(-50%, 0);
	opacity: 0;
	transition: 0.5s;
}

.iceage-box:hover::before{
	left: 50%;
	transform: translate(-50%, 0);
	opacity: 0.2;
}

.iceage-box::after{
	content: 'AGE';
	position: absolute;
	color: black;
	font-size: 6em;
	font-weight: bold;
	font-style: italic;
	bottom: 30px;
	left: 50%;
	transform: translate(-50%, 0);
	opacity: 0;
	transition: 0.5s;
}

.iceage-box:hover::after{
	opacity: 0.2;
}

.iceage-name{
	position: absolute;
	color: #fff;
	top: 0;
	width: 100%;
	text-align: center;
	font-size: 2em;
	opacity: 0;
	transition: 0.5s;
	transform: translate3d(0, 0, 50px);
}

.iceage-box:hover .iceage-name	{
	top: 15px;
	opacity: 1;	
}

.detail-button{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate3d(-50%, 0, 130px);
	opacity: 0;
	transition: 0.5s;
}	

.iceage-box:hover .detail-button{
	bottom: 10px;
	opacity: 1;
}

.img-iceage{
	position: absolute;
	top: 52%;
	left: 50%;
	transform: translate3d(-50%, -52%, 100px);
	max-width: 400px;
	transition: 0.5s;
}

.iceage-box:hover .img-iceage{
	transform: translate3d(-50%, -52%, 100px) rotate(10deg) scale(1.2);
}